@model IEnumerable<NexcoWeb.Domain.Entities.Expenditure>

@{
    ViewBag.Title = "IndexExpenditure";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row panel panel-default">
    <div id="categoris" class="col-lg-3">
        @Html.Action("Menu", "Nav")
    </div>

    <div class="panel-heading panel-heading col-lg-9">    
        <div class="panel-body">
            <h2>Expenses Details</h2>
            <table class="table table-striped table-condesed table-bordered">
                <tr>
                    <th>
                        <b>Description Expenses</b>
                    </th>
                    <th>
                        <b>Date</b>
                    </th>
                    <th>
                        <b>Travel</b>
                    </th>
                    <th>
                        <b>Food</b>
                    </th>
                    <th>
                        <b>Entertaimen</b>
                    </th>
                    <th>
                        <b>Auto</b>
                    </th>
                    <th>
                        <b>Household Expenses</b>
                    </th>
                    <th>
                        <b>Clothing</b>
                    </th>
                    <th>
                        <b>Loan</b>
                    </th>
                    <th>
                        <b>Other Expenses</b>
                    </th>
                    <th>
                        <b>Total</b>
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionExpenditure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayDateExpenses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Travel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entertaiment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseholdExpenses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clothing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherExpenses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayTotalExpenses)
                </td>

                <td>
                    @Html.ActionLink("Edit", "EditExpenditure", new { ExpenditureId = item.ExpenditureId, @class = "btn btn-info btn-xs" })     
                    </td>
                <td>
                    @using (Html.BeginForm("DeleteExpenditure", "AdminExpenditure"))
                    {
                        @Html.Hidden("ExpenditureId", item.ExpenditureId)
                        <input type="submit" class="btn btn-info btn-xs"
                               value="Delete" />
                    }
                </td>
            </tr>
                }
            </table>
            <div class="panel-footer">
                 @Html.ActionLink("Add new Expenditure", "Create", null, new { @class = "btn btn-info " })
            </div>
         </div>
     </div>
<hr />
<footer>
    <p class="text-center">&copy; @DateTime.Now.Year - Nexco Financial Management Application</p>
</footer>
</div>