<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nexco Financial Application</title>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>
    
    <div>
        <div class="row panel">
            <div id="categoris" class="col-lg-3">
                @Html.Action("MainMenu", "Nav")
            </div>
            <div class="col-lg-7">

                @RenderBody()
            </div>
        </div>
        <hr />

        <script src="~/Scripts/jquery-3.5.0.min.js"></script>

        <script src="~/Scripts/bootstrap.min.js"></script>

        <script src="~/Scripts/alertify.min.js"></script>
        <div>
            @RenderSection("scripts", required: false)
        </div>
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">
                            <i>
                                <i>
                                    Nexco App is an online personal management system
                                </i>
                                designed to help you to keep a record of your income from one month to another,
                                so that you can plan your expenses in a proportionate way to them and save more money.
                        </p>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <p class="copyright-text">
                                    <p>&copy; @DateTime.Now.Year - Manea Alexandru </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            <li>
                                <a href="">Incomes Details</a>
                            </li>
                            <li>
                                <a href="">Expenditure Details</a>
                            </li>
                            <li>
                                <a href="">Avaible Budget</a>
                            </li>
                            <li>
                                <a href="">Income Charts</a>
                            </li>
                            <li>
                                <a href="">Expenditure Charts</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li>
                                <a href="">About Us</a>
                            </li>
                            <li>
                                <a href="">Contact Us</a>
                            </li>
                            <li>
                                <a href="">Contribute</a>
                            </li>
                            <li>
                                <a href="">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="">Sitemap</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
            </div>
        </footer>
</body>
</html>