
@model IEnumerable<NexcoWeb.Domain.Entities.Budget>

@{
    ViewBag.Title = "IndexBudget";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row panel panel-default">
    <div id="categoris" class="col-lg-3">
        @Html.Action("Menu", "Nav")
    </div>
    <div class="panel-heading col-lg-9">
        <div class="panel-body">
            <h2>Budget details</h2>
            <table class="table table-striped table-condesed table-bordered">
                <tr>
                    <th>
                        <b>Total Expenses</b>
                    </th>
                    <th>
                        <b>Description budget</b>
                    </th>
                    <th>
                        <b>total Income</b>
                    </th>
                    <th>
                        <b>Total expenses</b>
                    </th>
                    <th>
                        <b>Total budget</b>
                    </th>
                    <th>
                        <b>Avaible Budget</b>
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expenditure.TotalExpense)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescriptionBudget)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalIncome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalExpense)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalBudget)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayTextBudget)
                        </td>
                        <td>
                            <div class="btn btn-info btn-xs">
                                @Html.ActionLink("Edit", "EditBudget", new { Budgetid = item.BudgetId })
                            </div>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteBudget", "AdminBudget"))
                            {
                                @Html.Hidden("BudgetId", item.BudgetId)
                                <input type="submit" class="btn btn-info btn-xs"
                                       value="Delete" />
                            }

                        </td>
                    </tr>
                }
            </table>
            <div class="panel-footer">
                @Html.ActionLink("Add new Expenditure", "Create", null, new { @class = "btn btn-defaul" })
                @Html.ActionLink("Add new Incomes", "Create", null, new { @class = "btn btn-defaul" })
            </div>
        </div>
    </div>
    <hr />
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Nexco Financial Management Application</p>
    </footer>

</div>