@model NexcoWeb.Domain.Entities.Income

@{
    ViewBag.Title = "Edit Income";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-md-offset-2 col-md-10">
<h2>Edit Incomes</h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IncomeId)

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Mentions</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.DescriptionIncome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescriptionIncome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Edited On</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.IncomeAddedOn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IncomeAddedOn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Salary</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Interest rate</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.InterestRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterestRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Other Jobs</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.OtherJob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherJob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Other Income</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.OtherIncome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherIncome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Total Income</b>
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.TotalIncome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalIncome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
                @Html.ActionLink("Cancel", "../Income/List", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
}

