@model IEnumerable<NexcoWeb.Domain.Entities.Income>


@{
    ViewBag.Title = "Income Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row panel panel-default">
    <div id="categoris" class="col-lg-3">
        @Html.Action("Menu", "Nav")
    </div>
    <div class="panel-heading col-lg-9">

        <div class="panel-body">
            <h2>Income Details</h2>
            @if (TempData["message"] != null)
            {
                <div class="alert alert-danger">@TempData["message"]</div>
            }
            <table class="table table-striped table-condesed table-bordered">
                <tr>
                    <th>
                        <b>Description Income</b>
                    </th>
                    <th>
                        <b>Date</b>
                    </th>
                    <th>
                        <b>Salary</b>
                    </th>
                    <th>
                        <b>Interest Rate</b>
                    </th>
                    <th>
                        <b>Other Jobs</b>
                    </th>
                    <th>
                        <b>Other Income</b>
                    </th>
                    <th>
                        <b>Total Income</b>
                    </th>
                    <th>

                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescriptionIncome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayDateIncomes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InterestRate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OtherJob)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OtherIncome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayTotalIncome)
                        </td>
                        <td>
                            <div class="btn btn-info btn-xs">
                                @Html.ActionLink("Edit", "EditIncome", new { incomeId = item.IncomeId })
                            </div>
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteIncome", "Admin"))
                            {
                                @Html.Hidden("IncomeId", item.IncomeId)
                                <input type="submit" class="btn btn-info btn-xs"
                                       value="Delete" />
                            }
                            @*@Html.ActionLink("Delete", "DeleteIncome", new { Incomeid = item.IncomeId }, null)*@
                        </td>
                    </tr>
                }

            </table>
            <div class="panel-footer">
                @Html.ActionLink("Add new Incomes", "Create", null, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
    <hr />
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - Nexco Financial Management Application</p>
    </footer>
</div>
